
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form action="CheckUser" method="post">
    <label class="col-form-label">Username</label>
    <input type="text" placeholder="Enter Username" name="unmae" required />
    <br />
    <label class="col-form-label">Password </label>
    <input type="password" placeholder="Enter Password" name="psw" required />

</form>